header{
    width: 100%;
    nav{
        /*agregue un fondo con gradiente lineal*/
        background-image: linear-gradient(to bottom, $colorfondo2, $colorfondo1);
        div{
            .logo__img{
                width: 7vw;
                border-radius: 10%;
                margin-left: 25px;
            }
            div{
                ul{
                    li{
                        .a__nav{
                            color: white;
                            font-size: 22px !important;
                            text-decoration: none;
                            transition: transform 0.3s ease;
                            margin-left: 15px;
                            font-family: "Oswald", sans-serif;
                            /*animacion para que se agranden las letras*/
                            &:hover{
                                transform: scale(1.2)
                            }
                            }
                        }
                    }
                }
            }
        }
}