$titulosize: 2.5vw;
$anchoubicacion: 60vw;
$colorfondo1: #191919;
$colorfondo2: rgb(82, 82, 82); 
/*mixins*/
@mixin imgprincipal2 ($ancho, $mtop, $mbottom){
    width: $ancho;
    margin-top: $mtop;
    margin-bottom: $mbottom;
    transition: transform 1s ease-in-out;
}

@mixin imgredes ($ancho, $bradius){
    width: $ancho;
    border-radius: $bradius;
    transition: transform 0.3s ease;
}

@mixin imgcategorias($ancho, $bradius){
    width: $ancho;
    border-radius: $bradius;
    transition: filter 0.3s ease;
}
